div {
    border: 1px solid black;
}

/*Header section styling*/
header {
    background-color: #FFF;
    height: 64px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav li {
    display: inline-block;
    margin-right: 24px;
}

.logo {
    margin-left: 24px;
}

/*Banner section styling*/
banner {
    top: 64px;
    display: inline-flex;
    align-content: center;
    position: relative;
    width: 100%;
    /*TODO hex improved colors*/
    color: purple;
    background-color: pink;
}

banner img {
    margin: 32px 24px;
    width: 60%;
    height: 100%;
}

banner div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 16px;
}






#information {
    position: relative;
    top: 64px;
}

#courses {
    position: relative;
    top: 64px;
}

#thesis {
    position: relative;
    top: 64px;
}

footer {
    position: relative;
    top: 64px;
}